.home-page{
    margin: 2% 0;
}

.home-page a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-page button{
    font-size: 140%;
    margin: 4% auto 0;
}