.tools{
    border-radius: 5px;
    background-color: rgb(228, 228, 228);
    font-size: 140%;
    padding: 2% 5%;
    width: 300px;
    margin: 2.5rem auto .5rem;
    
}

.tools h2{
    text-align: center;
    
}

.tools ul{
    padding-left: 0 !important;
    list-style-type: none;
}


.tools .tool{
    border: 1px solid rgb(105, 105, 105);
    background-color: rgb(255, 255, 255);
    color: rgb(37, 37, 37);
    padding: 1% 2%;
    margin: 4% 0.5% 0%;
    border-radius: 5px;
    cursor: all-scroll;
}